#sidebar {
  max-width: 250px;
  display: flex;
  .sidebar-header {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    img {
      width: 128px;
    }
  }
  .d-flex {
    align-items: center;
    justify-content: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

a {
  display: flex;
  color: inherit;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: blue;
  padding: 0 2px;
}
