@import '../../../content/scss/vendor';
* {
  box-sizing: border-box;
}

.container-fluid {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  .card {
    background-color: $light-azul-mpro;
    border-radius: 1rem;
    width: 12rem;
  }
  .card-img-top {
    padding-top: 1rem;
    justify-self: center;
    align-self: center;
    width: 6rem;
  }
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #444444;
  }
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
  }
}
