<div class="footer">
  <div class="center">
    <span>{{ this.data }} Ministério Público do Estado de Rondônia</span>
    <span>{{ endereco }}</span>
    <span>{{ cep }}</span>
    <!--    <div class="direita">-->
    <!--      <a title="Intranet" href="https://intranet.mpro.mp.br" target="_blank">-->
    <!--        I-->
    <!--      </a>-->
    <!--      &nbsp;-->
    <!--      <a title="SOS" href="https://sos.mpro.mp.br/" target="_blank">-->
    <!--        S-->
    <!--      </a>-->
    <!--      &nbsp;-->
    <!--      <a title="Webmail" href="https://webmail.mpro.mp.br/" target="_blank">-->
    <!--        W-->
    <!--      </a>-->
    <!--      <br>-->
    <!--      <span class="navbar-version">{{version}}</span>-->
    <!--    </div>-->
  </div>
</div>
