<div>
  <h2 id="page-heading" data-cy="ControleAcessoHeading">
    <span jhiTranslate="integraApp.controleAcesso.home.title">Controle Acessos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="integraApp.controleAcesso.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-controle-acesso"
        [routerLink]="['/controle-acesso/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="integraApp.controleAcesso.home.createLabel">Create a new Controle Acesso</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (controleAcessos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="integraApp.controleAcesso.home.notFound">No Controle Acessos found</span>
    </div>
  }

  @if (controleAcessos && controleAcessos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataAcesso">
              <div class="d-flex">
                <span jhiTranslate="integraApp.controleAcesso.dataAcesso">Data Acesso</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ipAcesso">
              <div class="d-flex">
                <span jhiTranslate="integraApp.controleAcesso.ipAcesso">Ip Acesso</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomeDispositivo">
              <div class="d-flex">
                <span jhiTranslate="integraApp.controleAcesso.nomeDispositivo">Nome Dispositivo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="integraApp.controleAcesso.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (controleAcesso of controleAcessos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/controle-acesso', controleAcesso.id, 'view']">{{ controleAcesso.id }}</a>
              </td>
              <td>{{ controleAcesso.dataAcesso | formatMediumDatetime }}</td>
              <td>{{ controleAcesso.ipAcesso }}</td>
              <td>{{ controleAcesso.nomeDispositivo }}</td>
              <td>
                {{ controleAcesso.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/controle-acesso', controleAcesso.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/controle-acesso', controleAcesso.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(controleAcesso)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
