@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import '../../../content/scss/mpro.scss';

/* ==========================================================================
Navbar
========================================================================== */

.navbar {
  background-color: $azul-mpro;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: #fcfcfc;
  .user-img {
    height: 45px;
    width: 45px;
  }
}

.navbar {
  padding: 0.2rem 1rem;
}
/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 180px;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/logoMPRO_.png') no-repeat center center;
  background-size: contain;
}
.navbar-toggler {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
