<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sistema) {
      <div>
        <h2 data-cy="sistemaDetailsHeading"><span jhiTranslate="integraApp.sistema.detail.title">Sistema</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sistema.id }}</span>
          </dd>
          <dt><span jhiTranslate="integraApp.sistema.group">Group</span></dt>
          <dd>
            <span>{{ sistema.group }}</span>
          </dd>
          <dt><span jhiTranslate="integraApp.sistema.nome">Nome</span></dt>
          <dd>
            <span>{{ sistema.nome }}</span>
          </dd>
          <dt><span jhiTranslate="integraApp.sistema.descricao">Descricao</span></dt>
          <dd>
            <span>{{ sistema.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="integraApp.sistema.homeUrl">Home Url</span></dt>
          <dd>
            <span>{{ sistema.homeUrl }}</span>
          </dd>
          <dt><span jhiTranslate="integraApp.sistema.logoUrl">Logo Url</span></dt>
          <dd>
            <span>{{ sistema.logoUrl }}</span>
          </dd>
          <dt><span jhiTranslate="integraApp.sistema.area">Area</span></dt>
          <dd>
            @if (sistema.area) {
              <div>
                <a [routerLink]="['/area', sistema.area.id, 'view']">{{ sistema.area.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/sistema', sistema.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
