@import 'vendor';

.footer {
  background-color: $azul-mpro;
  color: #bad2ed;
  border: none;
  padding: 0.2em 0 0.75em 0;
  span {
    font-size: 0.5em;
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
